<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <Center> <h1><b>My Beautiful Email app</b></h1><br><br>

    <button type='button' class='btn btn-primary' name="Login" onclick="location.href='http://localhost:8000/login';">Login</button>
    <br><br>
    <button type='button' class='btn btn-primary' name="Create" onclick="location.href='http://localhost:8000/create';">Create User</button>
    <br>
  </Center>
</html>
